.hero {
  min-height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  padding: 100px 200px 100px 100px;
}

.title {
    font-size: 5rem;
    background: linear-gradient(90deg, rgba(247, 179, 152, 1) 0%, #FFE08A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 5rem;
}


@media (max-width: 1200px) {
}

@media (max-width: 1000px) {
  .hero {
    min-height: 500px;
    padding: 50px 50px 0 50px;
  }

  .title {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (max-width: 600px) {
  .hero {
    min-height: 300px;
    padding: 10px 10px 0 10px;
  }

  .title {
    font-size: 3rem;
    line-height: 3rem;
  }
}
