.hero {
    background-image: url('../../header.png');
    background-size: cover;
    min-height: 900px;
}

.shadow {
    text-shadow: 2px 6px 10px rgba(0,0,0,1);
}

@media (max-width: 1000px) {
    .hero {
        min-height: 500px;
    }
}